:root {
    --green: 42,124,111;
}

* {
    /* border: solid rgba(var(--green), 0.2) 1px; */
}

header, main, footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(var(--green));
    overflow-x: hidden;
}

h1, h2, h3, p, a {
    color: rgb(var(--green));
}

a {
    text-decoration: none;
}
a:hover {
    color: rgba(var(--green), 0.8);
}
a:active {
    color: rgba(var(--green), 1);
}


header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    padding: 16px;
    margin: 8px;
}

header nav {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

h1 {
    font-weight: 300;
}

hr {
    width: 100%;
    height: 1px;
    background: rgb(var(--green));
}

.donate-button {
    border: solid 1px rgb(var(--green));
    color: rgb(var(--green));
    background: white;
    padding: 4px;
}
.donate-button:hover {
    color: white;
    background-color: rgba(var(--green), 1);
}
.donate-button:active {
    color: white;
    background-color: rgba(var(--green), 0.8);
}

.social-media {
    display: flex;
    gap: 4px;
    justify-self: end;
    position: relative;
    bottom: 12px;
}
.social-media img {
    max-width: 25px;
    border-radius: 50%;
}

.profile {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
}
.profile svg {
    width: 25px;
    fill: rgb(var(--green));
}

footer {
    width: 100vw;
    height: 50px;
    height: fit-content;
    background: rgb(var(--green));
    padding: 4px;
    
}
footer p {
    color: white;
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}